<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmQ2R7I7QWMw0JOkBqivXj-r4KqI02abc</string>
	<key>GCM_SENDER_ID</key>
	<string>858876634479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talkifyApp</string>
	<key>PROJECT_ID</key>
	<string>talkifyapp-2622d</string>
	<key>STORAGE_BUCKET</key>
	<string>talkifyapp-2622d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858876634479:ios:61888ebc6e9b8fb2b0749a</string>
</dict>
</plist>